@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");
* {
  font-family: "Quicksand", sans-serif;
  padding: 0;
  margin: 0;
}

body a {
  text-decoration: none;
}
body ul {
  list-style: none;
}

.bg {
  width: 100%;
  background-image: url("../img/bg.jpg");
  background-position: center top;
  background-size: cover;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  top: 0;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(169, 172, 210, 0.368627451);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.header-logo {
  width: 55%;
  margin: 0 2rem;
}
@media (max-width: 768px) {
  .header-logo {
    width: 75%;
  }
}
.header #mobile-menu {
  display: none;
  color: #3a225c;
  padding: 1rem;
  font-size: 1.5rem;
  margin-top: 1.5rem;
}
@media (max-width: 768px) {
  .header #mobile-menu {
    display: block;
    z-index: 999;
  }
}
.header #nav {
  width: 50%;
}
@media (max-width: 768px) {
  .header #nav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
  }
}
.header #nav-links {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.header #nav-links li {
  margin: 0 1.9rem;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.header #nav-links a {
  color: #3a225c;
  font-weight: 500;
  transition: 0.5ms ease;
}
.header #nav-links a:hover {
  font-weight: 600;
}
@media (max-width: 768px) {
  .header #nav-links {
    flex-direction: column;
    height: 35%;
    gap: 2rem;
  }
}
.header #nav.active {
  display: block;
  background-image: url("../img/bg.jpg");
}

.about {
  display: flex;
  padding: 8rem;
}
@media (max-width: 1024px) {
  .about {
    padding: 5rem;
  }
}
@media (max-width: 425px) {
  .about {
    padding: 3rem;
  }
}
.about-text {
  width: 50%;
}
@media (max-width: 425px) {
  .about-text {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .about-text {
    width: 100%;
  }
}
.about h1 {
  text-transform: uppercase;
  font-size: 4rem;
  margin: 2.5rem 0;
  color: #3a225c;
}
@media (max-width: 1024px) {
  .about h1 {
    margin-top: 7rem;
    font-size: 3.4rem;
  }
}
@media (max-width: 768px) {
  .about h1 {
    font-size: 2.5rem;
    color: #3a225c;
    text-align: center;
  }
}
@media (max-width: 425px) {
  .about h1 {
    font-size: 1.8rem;
    text-align: center;
    color: #3a225c;
    padding: 0.4rem;
  }
}
.about p {
  font-size: 1.4rem;
}
@media (max-width: 425px) {
  .about p {
    font-size: 1.2rem;
    padding: 1rem;
    text-align: justify;
  }
}
@media (max-width: 768px) {
  .about p {
    text-align: justify;
  }
}

.service {
  background-color: #FFF2F2;
}
.service h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  padding: 2.2rem;
  color: #3a225c;
}
.service-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 2.5rem;
}
.service-card {
  width: 350px;
  height: 322px;
  margin-bottom: 2rem;
}
.service-card-title {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-end;
  transition: 300ms ease;
}
.service-card h2 {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  color: #3a225c;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(169, 172, 210, 0.368627451);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.service #card-1 {
  background-image: url("../img/c1.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.service #card-1:hover {
  background-size: 110%;
}
.service #card-2 {
  background-image: url("../img/c2.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.service #card-2:hover {
  background-size: 110%;
}
.service #card-3 {
  background-image: url("../img/c3.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.service #card-3:hover {
  background-size: 110%;
}
.service #card-4 {
  background-image: url("../img/c4.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.service #card-4:hover {
  background-size: 110%;
}

.contact {
  background-image: url("../img/bg2.png");
  background-position: center top;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-container {
  width: 40%;
  height: 450px;
  background-color: blue;
  margin-top: 3rem;
  padding: 2rem;
}

/*# sourceMappingURL=style.css.map */
