@use 'variables'

@mixin glassmorphism
    background: rgba( 255, 255, 255, 0.35 )
    box-shadow: 0 8px 32px 0 #a9acd25e
    backdrop-filter: blur( 4px )
    -webkit-backdrop-filter: blur( 4px )

@mixin hover-text
    font-weight: 600
    
@mixin bg-img($img)
    background-image: url('../img/#{$img}')
    background-size: 100%
    background-position: center
    background-repeat: no-repeat
    transition: .6s

    &:hover
        background-size: 110%

@mixin box-shadow
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px

@mixin center
     display: flex
     align-items: center
     justify-content: center
@mixin text-footer
              text-transform: uppercase
              font-size: 1.8rem
              margin-bottom: 1rem
              color: variables.$primary-color  


@mixin mobile
    @media(max-width: 425px )
        @content

@mixin tablet
     @media(max-width: 768px )
        @content

@mixin laptop
     @media(max-width: 1024px )
        @content

    